@import "tailwindcss";

@layer components {
  .btn {
    @apply bg-white border border-gray-200 py-2 w-full rounded-lg hover:bg-gray-50 cursor-pointer disabled:bg-gray-300 disabled:opacity-70 disabled:cursor-not-allowed;
  }

  input {
    @apply bg-white border border-gray-200 py-2 w-full rounded-lg outline-none p-2;
  }

  .tab-head {
    @apply text-gray-500 font-bold uppercase text-sm;
  }
}

.switch-sm {
  @apply relative inline-block w-[40px] h-[20px];
}

.switch-md {
  @apply relative inline-block w-[60px] h-[34px];
}

.switch-lg {
  @apply relative inline-block w-[80px] h-[48px];
}

.switch input {
  @apply opacity-0 w-0 h-0;
}

.slider {
  @apply absolute cursor-pointer inset-0 bg-gray-200 transition-all rounded-full;
}

.slider-sm:before {
  content: "";
  @apply absolute h-[14px] w-[14px] left-[3px] bottom-[3px] bg-white transition-all rounded-full;
}

.slider-md:before {
  content: "";
  @apply absolute h-[26px] w-[26px] left-[4px] bottom-[4px] bg-white transition-all rounded-full;
}

.slider-lg:before {
  content: "";
  @apply absolute h-[38px] w-[38px] left-[5px] bottom-[5px] bg-white transition-all rounded-full;
}

input:checked + .slider {
  @apply bg-blue-500;
}

input:checked + .slider-sm:before {
  @apply transform translate-x-[20px];
}

input:checked + .slider-md:before {
  @apply transform translate-x-[26px];
}

input:checked + .slider-lg:before {
  @apply transform translate-x-[34px];
}

.selected-v {
  @apply border-blue-500 bg-blue-300;
}
